html,
body,
.root {
  font-size: 16px;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

body {
  line-height: 1.5;
  padding-top: 72px !important;
}

body,
.app {
  background: #f9f9f9;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

/* navbar */
.list-books-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  height: 72px;
  max-height: 72px;
  background-color: rgba(255, 255, 255, 0.97);
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12), inset 0 -1px 0 0 #dadce0;
}

.list-books-navbar .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.list-books-navbar .list-books-menu {
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-books-navbar .list-books-menu li {
  float: left;
}
.list-books-navbar .list-books-menu li a {
  display: block;
  color: #333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.list-books-title {
  padding: 0 2rem;
  height: 72px;
  display: inline-block;
}

.list-books-title h1 {
  font-weight: 400;
  margin: 0;
  line-height: 72px;
  font-size: 20px;
  color: #5f6368;
  font-family: Helvetica, sans-serif;
}

/* main page */

.list-books-content {
  padding: 0 0 80px;
  flex: 1;
}

.bookshelf {
  padding: 2rem;
}

.bookshelf .container {
  padding: 0 2rem;
}

@media (min-width: 600px) {
  .bookshelf {
    padding: 2rem;
  }
}

.bookshelf-title {
  margin: 0;
  font-size: 28px;
  font-weight: 300;
}

.bookshelf-books {
  text-align: center;
}

.open-search {
  position: fixed;
  right: 25px;
  bottom: 25px;
}

.open-search button {
  display: block;
  width: 150px;
  height: 50px;
  border-radius: 10rem;
  background: #1a73e8;
  border: 1px solid #1a73e8;
  background-image: url("./icons/add.svg");
  background-repeat: no-repeat;
  background-position: 15% 50%;
  background-size: 28px;
  padding-left: 30%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  outline: 0;
  color: #fff;
  cursor: pointer;
}

.open-search button:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

/* search page */

.search-books-bar {
  position: fixed;
  top: 0;
  display: flex;
  width: 100%;
  z-index: 100;
  height: 72px;
  max-height: 72px;
  background-color: rgba(255, 255, 255, 0.97);
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12), inset 0 -1px 0 0 #dadce0;
}

.search-books-input-wrapper {
  flex: 1;
  background: #e9e;
}

.search-books-bar input {
  width: 100%;
  height: 100%;
  padding: 15px 10px;
  font-size: 1.25em;
  border: none;
  outline: none;
}

.search-books-bar input::placeholder {
  color: rgb(196, 195, 195);
  font-size: 1em;
}

.close-search {
  display: block;
  top: 20px;
  left: 15px;
  width: 72px;
  height: 100%;
  background-image: url("./icons/arrow-back.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28px;
  background-color: #f2f2f2;
  font-size: 0;
  border: none;
  outline: none;
  cursor: pointer;
}

button:active {
  border: red;
  outline: none;
}

.search-books-results {
  padding: 80px 10px 20px;
}

/* books grid */

.books-grid {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.books-grid li {
  margin: 32px 24px 32px 0;
}

.book {
  width: 370px;
  text-align: left;
}

.book-info {
  display: flex;
  flex-direction: column;
  width: 370px;
  max-width: 370px;
  display: flex;
  flex-direction: column;
  width: calc(370px - 128px - 18px);
  margin-left: 18px;
  padding: 0 18px;
  margin-bottom: 16px;
  overflow: hidden;
  position: relative;
}

.book-title {
  margin-top: 18px;
  margin-right: 18px;
}

.book-title h5 {
  font-size: 100%;
  font-weight: 300;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.book-authors {
  color: #999;
  font-size: 80%;
}

.book-description {
  font-size: 80%;
  color: #777;
}

.book-info:after {
  content: "";
  display: inline-block;
  position: absolute;
  background-image: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1)
  );
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1)
  );
  height: 20px;
  width: 100px;
  bottom: 2px;
  right: 25px;
}

.book-top {
  position: relative;
  display: flex;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  height: 195px;
}

.book-shelf-changer {
  position: absolute;
  right: 0;
  top: 8px;
  width: 40px;
  height: 40px;
  background: transparent;
  background-image: url("./icons/arrow-drop-down.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.book-shelf-changer select {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

/* book cover */

.book-cover {
  background: #eee;
  position: relative;
  top: -18px;
  left: 18px;
  border-radius: 3px;
  max-width: 128px;
  box-shadow: 0px -1px 2px 0px rgba(0, 0, 0, 0.75);
}

.book-rating {
  margin: 0.35rem 0;
}

.book-rating .count {
  font-size: 85%;
  margin-left: 0.75rem;
  vertical-align: text-bottom;
  color: #999;
}

.stars-container {
  position: relative;
  display: inline-block;
  color: transparent;
  font-size: 1.2rem;
}

.stars-container:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "★★★★★";
  color: lightgray;
}

.stars-container:after {
  position: absolute;
  top: 0;
  left: 0;
  content: "★★★★★";
  color: gold;
  overflow: hidden;
}

.stars-0:after {
  width: 0%;
}
.stars-05:after {
  width: 10%;
}
.stars-1:after {
  width: 20%;
}
.stars-15:after {
  width: 30%;
}
.stars-2:after {
  width: 40%;
}
.stars-25:after {
  width: 50%;
}
.stars-3:after {
  width: 60%;
}
.stars-35:after {
  width: 70%;
}
.stars-4:after {
  width: 80%;
}
.stars-45:after {
  width: 90%;
}
.stars-5:after {
  width: 100%;
}
